<!-- inicio sidebarv-->

<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <a
        #homeLink ="routerLinkActive"
        routerLinkActive
        [activated]="homeLink.isActive"
        routerLink="home" 
        mat-list-item>INICIO
      </a>
       
        <a 
        #alumnosLink ="routerLinkActive"
        routerLinkActive
        [activated]="alumnosLink.isActive"
        routerLink="alumnos-users" 
        mat-list-item>ALUMNOS
      </a>
       
      <a 
      #cursosLink ="routerLinkActive"
      routerLinkActive
      [activated]="cursosLink.isActive"
      routerLink="cursos-products" 
      mat-list-item>CURSOS
    </a>

      <a
      #sesionLink ="routerLinkActive"
        routerLinkActive
        [activated]="sesionLink.isActive" 
       
       routerLink="aunth/loguin-aunth" 
       mat-list-item>Cerrar sesion
      </a>

      </mat-nav-list>

    </mat-drawer>
<!-- fin sidebar-->

      <div class="example-sidenav-content">

    <!-- inicio toolbar-->
      <mat-toolbar color="primary">
          <!-- boton del menu-->
        <button  
        (click)="drawer.toggle()"
        mat-icon-button 
        class="example-icon" 
        aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mi Aplicación</span>
       
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
     <!-- fin toolbar-->
   

<!--ver aqui pagina alumnos-users-->
<div class="p-3">
  <router-outlet></router-outlet>
<!-- <app-pipes></app-pipes> --> 
<!-- <app-alumnos-users></app-alumnos-users> -->
</div>
     </div>
     </mat-drawer-container>

 
